.section 
    {
        background: aquamarine;
    }

.title
    {
        font-size: 3em;
        text-align: center;
    }    

.subtitle   
    {
        text-align:center;
    }

    

.media 
    {
        display: block;
    }

.media-left    
    {
        display: none;
    }

.media-content
    {
        text-align: center;
    }

.title.is-5 
    {
        font-size: 1rem;
    }

    .button.is-primary {
        background-color: #00d1b2;
        border-color: transparent;
        color: #fff;
        margin: 0 auto;
        margin-top: 10%;
    }

.modal-card-body{
    background-color: white;
}

